<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>Age Grading System</title>
  </head>
  <body>
    <div class="index_container">
      <header>
        <div class="text-container">
          <h1>Age Grading System</h1>
          <p>
            Analyze the appropriateness of web page content for under 15 yrs old
            audiences.
          </p>
        </div>
      </header>

      <main>
        <form action="/scrape" method="POST">
          <input
            type="text"
            name="url"
            id="url"
            placeholder="Enter a website URL"
            required
          />
          <button type="submit" class="btn-primary">Analyze</button>
          <p>© 2024 Semantic Analysis Tool. Built with ❤️ for web insights.</p>
        </form>
        {% if error_message %}
        <p class="error">{{ error_message }}</p>
        {% endif %}
      </main>
    </div>
  </body>
</html>
